@import '~scss/_variables.scss';

.sorting {
  border-bottom: 1px solid $pinkish-grey;
  padding: 25px 20px;
  font-size: 14px;
  display: flex;
  &__label {
    color: $black;
    font-weight: 600;
    margin-right: 18px;
  }
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: $greyish-brown-two;
    &--item {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
      .circle {
        margin-right: 7px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid  $greyish;
        &__active {
          border: 2px solid  $tangerine;
          &::before {
            position: relative;
            left: 3px;
            top: 3px;
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background-color: $tangerine;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media (max-width: 1985px) {
  .sorting {
    padding: 25px 0px;
  }
}

@media (max-width: 1435px) {
  .sorting {
    padding: 25px 20px;
  }
}
