@import '~scss/_variables.scss';

.sortable-label{
  text-align: left;
  padding-left: 13px;
  svg{
    vertical-align: middle;
  }
  .down, .up {
    fill: $greyish;
  }
  &.asc {
    .down{
      fill: $tangerine;
    }
  }
  &.desc{
    .up{
      fill: $tangerine;
    }
  }
}
