<div class="tabs">
  <div
    class="tabs__month"
    *ngFor="let item of tabs; let i = index"
    [ngClass]="{'checked': item.selected}"
    (click)="selectTab(i)">
    <span translate>{{item.name}}</span>
    <hr>
  </div>
</div>

<div class="slider_wrapper">
  <div class="slider">
    <i class="icon-arrow-left hoverable" (click)="back()" [ngClass]="{'disabled': !canMoveBack}"></i>
    <span translate>{{activeTab.name}}</span>
    <i class="icon-arrow-right hoverable" (click)="next()" [ngClass]="{'disabled': !canMoveNext}"></i>
  </div>
  <div class="slider__circles">
    <div
      class="slider__circles--item"
      *ngFor="let item of tabs; let i = index"
      (click)="selectTab(i)"
      [ngClass]="{'checked': item.selected}">
    </div>
  </div>
</div>
