@import '~scss/_variables.scss';

.rightbar {
  float: right;
  background-color: $white-two;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  display: block;
  height: calc(100vh - 80px - #{$expand-height});
  width: 100%;
  margin-top: $expand-height;
}
