<div class="change-password">
  <h3 translate>Settings.changePassword</h3>
  <form class="change-password__form" [formGroup]="form" (ngSubmit)="save()" autocomplete="off">
    <div class="form-group">
      <sl-show-hide-password>
        <input id="current_password" type="password" class="floated" [ngClass]="{'not-empty': form.value.current_password}" formControlName="current_password">
        <label for="current_password" class="control-label" translate>Settings.currentPassword</label>
      </sl-show-hide-password>

      <div class="sl-error-msg" *ngIf="!currentPasswordValid">
        <div translate>Settings.currentPasswordInvalid</div>
      </div>

      <div class="sl-error-msg"
           *ngIf="current_passwordCtrl.invalid && (current_passwordCtrl.touched || formIsSubmitted)">
        <div *ngIf="current_passwordCtrl.errors.required" translate>Validation.password.required</div>
        <div *ngIf="current_passwordCtrl.errors.minlength || current_passwordCtrl.errors.maxlength" translate>Validation.password.length</div>
      </div>
    </div>

    <div class="form-group">
      <sl-show-hide-password>
        <input id="new_password" type="password" class="floated" [ngClass]="{'not-empty': form.value.new_password}" formControlName="new_password">
        <label for="new_password" class="control-label" translate>Settings.newPassword</label>
      </sl-show-hide-password>

      <div class="sl-error-msg" *ngIf="!newPasswordMatched()">
        <div translate>Settings.newPasswordInvalid</div>
      </div>

      <div class="sl-error-msg"
           *ngIf="new_passwordCtrl.invalid && (new_passwordCtrl.touched || formIsSubmitted)">
        <div *ngIf="new_passwordCtrl.errors.required" translate>Validation.password.required</div>
        <div *ngIf="new_passwordCtrl.errors.minlength || new_passwordCtrl.errors.maxlength" translate>Validation.password.length</div>
      </div>
    </div>

    <div class="form-group">
      <sl-show-hide-password>
        <input id="new_password_confirmation" type="password" class="floated" [ngClass]="{'not-empty': form.value.new_password_confirmation}" formControlName="new_password_confirmation">
        <label for="new_password_confirmation" class="control-label" translate>Settings.retypeNewPassword</label>
      </sl-show-hide-password>

      <div class="sl-error-msg" *ngIf="!newPasswordMatched()">
        <div translate>Settings.newPasswordInvalid</div>
      </div>

      <div class="sl-error-msg"
           *ngIf="new_password_confirmationCtrl.invalid && (new_password_confirmationCtrl.touched || formIsSubmitted)">
        <div *ngIf="new_password_confirmationCtrl.errors.required" translate>Validation.password.required</div>
        <div *ngIf="new_password_confirmationCtrl.errors.minlength || new_password_confirmationCtrl.errors.maxlength" translate>Validation.password.length</div>
      </div>
    </div>

    <button class="btn btn-fancy" translate>Settings.change</button>
  </form>
</div>
