@import '~scss/_variables.scss';

.performance-modal__dropdown {
  margin: 0;
  padding: 10px 0;
  border-radius: 4px;
  width: 186px;
  background-color: $white-two;
  list-style-type: none;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  color: $greyish-brown-two;
  position: absolute;
  left: 50px;

  li {
    padding: 10px 20px;

    &:hover {
      background-color: $tangerine;
      color: $white;
      cursor: pointer;
    }
  }
}
