<div class="content details-content">
  <!-- START: Venue details header and edit button -->
  <div class="flex">
    <div class="section-title description__title" translate>Rightbar.demographic</div>
    <i (click)="pencilClick()" *ngIf="canEdit" class="font-icon icon-pencil hoverable"></i>
  </div>
  <!-- END: Venue details header and edit button -->

  <div class="highlighted-text" [hidden]="data.length !== 0 || editMode">
    {{ ('Rightbar.nothingHereYet' | translate ) + ' ' + ((canEdit ? 'Rightbar.clickPencilToEdit' : '') | translate) }}
  </div>


  <div class="section-text description__text" *ngIf="!editMode">
    <div class="content__tag truncated-text" *ngFor="let item of data">
      {{ item }}
    </div>
  </div>

  <div class="section-text description__text wrapper" *ngIf="editMode" [ngClass]="{'edit': editMode}">
    <div class="items">
      <div class="content__items" *ngFor="let defaultOption of defaultOptions">
        <span class="truncated-text"> {{ defaultOption.value }} </span>
        <mat-checkbox
          class="content__checkbox"
          [(ngModel)]="defaultOption.selected">
        </mat-checkbox>
      </div>
    </div>
    <div class="flex btns">
      <button class="btn btn-white btn_small" (click)="onCancelClick()" translate>Rightbar.cancel</button>
      <button class="btn btn-fancy btn_small" (click)="onSaveClick()" translate>Rightbar.save</button>
    </div>
  </div>
</div>
