@import '~scss/_variables.scss';

.container {
  background-color: $white;
  padding: 4px 0;
}

.wrapper {
  padding: 0px 50px;
}

.date-filters {
  &__item {
    margin-right: 24px;
    align-items: center;
  }
  &__lable {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: normal;
    color: $greyish;
  }
  input {
    background-color: $white;
    font-size: 18px;
    margin-top: 2px;
    font-family: 'Open Sans';
    color: $greyish-brown-two;
    width: 100px;
  }
  &__icon {
    font-size: 18px;
    color: $tangerine;
    cursor: pointer;
  }
}
