@import '~scss/_variables.scss';

.sl-chip {
  display: inline-block;
  background-color: $white;
  border-radius: 20px;
  max-width: 250px;
  vertical-align: top;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white-four;
    border-radius: 4px;
    padding: 0 5px;
  }
  &__remove {
    cursor: pointer;
    margin-left: 5px;
    color: $warm-grey;
  }

  &__value {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
    line-height: 15px;
  }

  i.icon {
    width: 24px;
    border-radius: 50%;
    margin: 0 5px 0 -7px;
  }
}
