.form-group {
  text-align: left;
  position: relative;
  margin-bottom: 27px;
}

input {
  border: none;
  outline: none;
}

input.floated {
  width: 100%;
  padding: 5px 0 9px;
  background-color: transparent;
  border-bottom: 1px solid $greyish;
  color: $white-two;
  font-family: Open Sans, sans-serif;
  line-height: 1.2;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  }
  &:focus~.control-label,
  &.not-empty~.control-label,
  &:-webkit-autofill~.control-label{
    font-size: 0.7rem;
    top: -1rem;
    left: 0;
  }
  &.not-empty~.control-label {
    color: $greyish;
  }
  &:focus~.control-label {
    color: $tangerine;
  }
  &:focus {
    border-bottom: 1px solid $tangerine
  }
  &.ng-invalid.ng-touched {
    border-bottom: 1px solid $grapefruit;
  }
}

.control-label {
  position: absolute;
  top: 0.25rem;
  left: 0;
  pointer-events: none;
  z-index: 1;
  color: $greyish;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  &::first-letter {
    text-transform: capitalize;
  }
}

.sl-error-msg {
  color: $grapefruit;
  font-size: 0.7rem;
  padding-top: 1px;
}

textarea {
  resize: none;
}

input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

