@import './_variables.scss';

a {
    color: $tangerine;
    &:hover {
        color: darken($tangerine, 10%);
    }
}

@import '~@angular/material/theming';
@include mat-core();

$sl-primary: mat-palette($mat-orange, 500);
$sl-accent:  mat-palette($mat-orange, 700, 800, 900);
$sl-warn:    mat-palette($mat-red);

$sl-theme: mat-light-theme($sl-primary, $sl-accent, $sl-warn);

@include angular-material-theme($sl-theme);
