$font-path: 'fonts/';

// COLORS
$black: #212121;
$white: #fafafa;
$greyish: #aaaaaa;
$tangerine: #ff8900;
$warm-grey: #9b9b9b;
$white-two: #ffffff;
$grapefruit: #ff5252;
$scarlet: #d0021b;
$apple-green: #7ed321;
$yellow-orange: #ffb800;
$greyish-brown: #4a4a4a;
$greyish-brown-two: #424242;
$black-87: rgba(0, 0, 0, 0.87);

$white-four: #eeeeee;
$pinkish-grey: #d0d0d0;
$green: #26a06c;
$blue: #27b9e7;
$dark-blue: #3366cc;
$grey: #858585;


// charts
$chart-yellow: #ecab54;
$chart-purple: #716994;

$pink: #fc5671;

// social networks
$fb-blue: #3b5998;
$insta-black: #262626;
$insta-purple: #c32aa3;
$twitter-blue: #00b6f1;

// SIZES

$expand-height: 48px;
$right-section-width: 360px;
$chat-header-width-closed: 150px;
$chat-width_open: 360px;
$chat-width_closed: 0px;
$chat-width_expanded: 770px;
$chat-width_expanded-m: 540px;

