@import '~scss/_variables.scss';

.personal-details {
  padding-top: 60px;

  &__form{
    width: 378px;
    margin-top: 36px;

    .form-group{
      margin-bottom: 40px;
    }

    input{
      color: $black;
    }
  }
}
